In [12]:
#creating tables adding records
import mysql.connector as sql

connection=sql.connect(host='localhost',user='root',password='aashu',database='database_new')

In [13]:
print(connection)

<mysql.connector.connection.MySQLConnection object at 0x000001B4AD7230C8>

In [14]:
cursor = connection.cursor()

cursor.execute("CREATE TABLE stu_data(name VARCHAR(20), city VARCHAR(20))")

ProgrammingError: 1050 (42S01): Table 'stu_data' already exists

In [10]:
#inserting records

query="INSERT INTO stu_data(name, city) VALUES (%s, %s)"

values=[('john','newyork'),
       ('vikas','delhi'),
       ('muskan','UP')]

cursor.executemany(query, values)
print('row inserted',cursor.lastrowid)

row inserted 0

In [11]:
connection.commit()#save the changes that have been made since the last checkpoint

In [15]:
#fetching one and many records
cursor = connection.cursor()

cursor.execute("SELECT * FROM stu_data")

In [17]:
#fetching all the records
cursor.fetchall()

[('john', 'newyork', None),
 ('vikas', 'delhi', None),
 ('muskan', 'UP', None),
 ('john', 'newyork', None),
 ('vikas', 'delhi', None),
 ('muskan', 'UP', None)]

In [18]:
#fetching one record at a time
cursor = connection.cursor()

cursor.execute("SELECT name FROM stu_data")

In [23]:
cursor.fetchone()

('vikas',)

In [30]:
cursor = connection.cursor()

sql="SELECT name FROM stu_data WHERE city='UP'"

cursor.execute(sql)

connection.commit()

InternalError: Unread result found

In [31]:
for name in cursor:
    print(name)

('muskan',)

In [32]:
#updating records

cursor = connection.cursor()

sql="UPDATE stu_data SET name='Kiran' WHERE city='delhi' "

cursor.execute(sql)

connection.commit()

In [33]:
#delete records

cursor = connection.cursor()

sql="DELETE FROM stu_data WHERE name='john' "

cursor.execute(sql)

connection.commit()

In [36]:
#drop table
cursor = connection.cursor()

sql="DROP TABLE stu_data"

cursor.execute(sql)